/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[14].use[5]!./src/styles/globals.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*:focus {
  outline: none;
}

body {
  height: 100vh;
  background-color: #e8e8e8;
}

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}
.c-btn:hover {
  background-color: #f7f7f7;
}
.c-btn:hover .c-icon-wrapper > svg {
  color: rgb(0, 106, 179) !important;
}

.c-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: all 0.2s ease-in-out;
}
.c-icon-wrapper > svg {
  height: 24px;
  width: 24px;
  color: rgba(187, 187, 187, 0.81);
  transition: color 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.c-row-ssb {
  display: flex;
  flex-flow: row nowrap;
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
}

.c-relative {
  position: relative;
}

.c-mb-1 {
  margin-bottom: 0.25rem;
}

.c-mb-2 {
  margin-bottom: 0.5rem;
}

.c-mb-3 {
  margin-bottom: 1rem;
}

.c-mb-4 {
  margin-bottom: 1.5rem;
}

.c-mb-5 {
  margin-bottom: 3rem;
}

.c-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.c-form-group {
  margin-bottom: 18px;
}

.c-date-group-ssb {
  position: relative;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
}
.c-date-group-ssb .c-form-group.c-form-floating {
  margin-left: 0;
  margin-right: 0;
}

.departure-date-input,
.return-date-input {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 150px;
  padding: 8px 40px 8px 15px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: #74787d;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
}
.departure-date-input:focus,
.return-date-input:focus {
  caret-color: transparent;
}

.return-date-input {
  border-left: none !important;
}

.date-border {
  min-width: 1px;
  width: 1px;
  background-color: #dcdcdc;
}

.date-border.active-border {
  background-color: #07a0dc;
}

.departure-date-input + .c-control-label-wrapper > .c-control-label,
.return-date-input + .c-control-label-wrapper > .c-control-label {
  cursor: pointer;
}

.c-form-control {
  display: block;
  width: 100%;
  padding: 12px 8px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: #fff;
  color: #74787d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: normal;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.c-form-control:focus {
  border-color: #07a0dc;
  background-color: #fff;
  color: #74787d;
  outline: 0;
}

.c-form-control-mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #74787d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: normal;
  transition: visibility 0s ease 0.25s;
}

.c-form-floating {
  position: relative;
}
.c-form-floating.inc-img > .c-form-control,
.c-form-floating.inc-img > .c-form-control-mask {
  height: 52px;
  padding: 8px 40px 8px 12px;
  text-overflow: ellipsis;
}
.c-form-floating > .c-form-control {
  position: relative;
  background-color: transparent;
  z-index: 1;
}
.c-form-floating > .c-form-control:focus ~ .c-control-label-wrapper > .c-control-label {
  color: #07a0dc;
  font-size: 12px;
  transform: translateY(calc(-50% - 18px));
  z-index: 1;
  cursor: default;
}
.c-form-floating > .c-form-control:focus ~ .c-form-control-mask {
  transition: none;
  visibility: hidden;
}
.c-form-floating > .c-form-control::placeholder,
.c-form-floating > .c-form-control-mask::placeholder {
  color: transparent;
}
.c-form-floating > .c-control-label-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 52px;
  padding-left: 12px;
}
.c-form-floating > .c-control-label-wrapper > .c-control-label {
  margin-left: -6px;
  padding: 0 6px;
  background-color: #fff;
  color: #74787d;
  font-size: 14px;
  line-height: normal;
  transform: translateY(0);
  transition: 0.2s all ease;
}
.c-form-floating > .c-form-control:not(:placeholder-shown) ~ .c-control-label-wrapper > .c-control-label,
.c-form-floating > .c-form-control-mask:not(:placeholder-shown) ~ .c-control-label-wrapper > .c-control-label {
  color: #07a0dc;
  font-size: 12px;
  transform: translateY(calc(-50% - 18px));
  z-index: 1;
  cursor: default;
}
.c-form-floating > .c-form-control.focused-input {
  border-color: #07a0dc;
}
.c-form-floating > .c-form-control.focused-input ~ .c-control-label-wrapper > .c-control-label {
  color: #07a0dc;
  font-size: 12px;
  transform: translateY(calc(-50% - 18px));
  z-index: 1;
  cursor: default;
}
