/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/styles/DatePickerV1.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#DatePickerV1_DatePickerV1___OC3c {
  position: absolute;
  right: 0;
  z-index: 1;
  will-change: top, right, height, opacity;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 0 16px rgba(0, 0, 0, 0.15);
  opacity: 0;
  border-radius: 4px;
  transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
  cursor: default;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_arrow__7nXIe {
  position: absolute;
  right: 14px;
  bottom: -8px;
  z-index: -1;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
  background-color: #fff;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.04);
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN {
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_navigation__QY04P {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_navigation__QY04P .DatePickerV1_title__8__Nc {
  color: #222222;
  font-weight: 500;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_navigation__QY04P button {
  padding: 8px;
  border-radius: 50%;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_day-list__RVKl9 {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 30px;
  font-size: 12px;
  font-weight: 500;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_day-list__RVKl9 .DatePickerV1_day-item__9Lfin {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_date-list__PYyrv {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_date-list__PYyrv .DatePickerV1_date-item__Xvbcv {
  padding: 4px;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_date-list__PYyrv .DatePickerV1_date-item__Xvbcv button {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
#DatePickerV1_DatePickerV1___OC3c .DatePickerV1_content__X96dN .DatePickerV1_date-list__PYyrv .DatePickerV1_date-item__Xvbcv button:disabled:hover {
  background-color: transparent;
}

.DatePickerV1_selected__ZIBzP {
  background-color: #222222;
  color: #fff;
  font-weight: 500;
  transition: none;
}
.DatePickerV1_selected__ZIBzP:hover {
  background-color: #222222;
  color: #fff;
  font-weight: 500;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/styles/AirportListDropdown.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#AirportListDropdown_AirportListDropdown__tMH_Q {
  position: absolute;
  left: 0;
  will-change: top, opacity;
  width: 400px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 0 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  opacity: 0;
  z-index: 3;
  transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.AirportListDropdown_arrow__4LR54 {
  position: absolute;
  left: 20px;
  top: -8px;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
  background-color: #fff;
  box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.04);
}

.AirportListDropdown_dropdown-wrapper__cOMBE {
  position: relative;
  padding: 8px 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div {
  max-height: 450px;
  overflow: auto;
  /* Style the track of the scrollbar */
  /* Style the thumb of the scrollbar */
  /* Style the corner of the scrollbar */
}
.AirportListDropdown_dropdown-wrapper__cOMBE div::-webkit-scrollbar {
  width: 7px;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 5px;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_list-category__096YF {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #fff;
  cursor: default;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_list-category__096YF div {
  width: 270px;
  border-bottom-right-radius: 50px;
  padding: 4px 12px 4px 44px;
  display: inline-block;
  background-color: #006ab3;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_dropdown-item__24xjc {
  position: relative;
  font-size: 14px;
  padding: 4px 12px 4px 44px;
  margin: 4px 0;
  transition: background-color 0.15s ease, color 0.15s ease;
  color: #74787d;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_dropdown-item__24xjc svg {
  position: absolute;
  left: 12px;
  top: 8px;
  transform: rotate(0deg);
  color: #9a9c9f;
  transition: transform 0.15s ease, color 0.15s ease;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_dropdown-item__24xjc:hover {
  background-color: #f0f0f0;
  color: #07a0dc;
  cursor: pointer;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_dropdown-item__24xjc:hover svg {
  transform: rotate(45deg);
  color: #07a0dc;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_list-category__096YF ~ .AirportListDropdown_dropdown-item__24xjc:last-child {
  margin-bottom: 0;
}
.AirportListDropdown_dropdown-wrapper__cOMBE div .AirportListDropdown_item-not-found__jr_jE {
  font-size: 14px;
  padding: 4px 12px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/styles/PassengerDropdown.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PassengerDropdown_dropdown-wrapper__V8fw3 {
  position: relative;
  padding: 12px;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm {
  display: flex;
  align-items: center;
  width: 100%;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm .PassengerDropdown_passenger-type__aSHAt {
  flex-grow: 1;
  color: #74787d;
  line-height: 1.25;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm .PassengerDropdown_passenger-type__aSHAt strong {
  display: block;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm .PassengerDropdown_passenger-type__aSHAt small {
  font-size: 12px;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm .PassengerDropdown_action__nOgAG {
  display: flex;
  align-items: center;
  height: 36px;
  border-radius: 36px;
  overflow: hidden;
  border: 1px solid #d1d1d1;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm .PassengerDropdown_action__nOgAG button {
  height: 36px;
  width: 36px;
  color: #74787d;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm .PassengerDropdown_action__nOgAG button:hover {
  background-color: #f0f0f0;
  color: #fff;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_passenger-quantity-container__ThMPm .PassengerDropdown_action__nOgAG input {
  width: 40px;
  height: 36px;
  border: none;
  font-weight: 700;
  color: #74787d;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-radius: 0;
  padding: 0;
  text-align: center;
  text-overflow: initial;
}
.PassengerDropdown_dropdown-wrapper__V8fw3 .PassengerDropdown_info__9VRst {
  border-top: 1px solid #dcdcdc;
  color: #74787d;
  font-size: 12px;
  text-align: justify;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/styles/TravelClassDropdown.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TravelClassDropdown_dropdown-wrapper__XyNpq {
  position: relative;
  padding: 8px 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  color: #74787d;
  cursor: pointer;
}
.TravelClassDropdown_dropdown-wrapper__XyNpq .TravelClassDropdown_dropdown-item___Vu0H {
  font-size: 14px;
  padding: 4px 12px;
  transition: background-color 0.15s ease, color 0.15s ease;
  margin-bottom: 4px;
}
.TravelClassDropdown_dropdown-wrapper__XyNpq .TravelClassDropdown_dropdown-item___Vu0H:last-child {
  margin-bottom: 0;
}
.TravelClassDropdown_dropdown-wrapper__XyNpq .TravelClassDropdown_dropdown-item___Vu0H:hover {
  background-color: #f0f0f0;
  color: #07a0dc;
}
.TravelClassDropdown_dropdown-wrapper__XyNpq .TravelClassDropdown_dropdown-item___Vu0H.TravelClassDropdown_current__5RMVd {
  background-color: #f0f0f0;
  color: #07a0dc;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/styles/DropdownTransition.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#DropdownTransition_DropdownTransition__82Kto {
  position: absolute;
  left: 0;
  will-change: top, opacity;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 0 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  opacity: 0;
  z-index: 3;
  transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.DropdownTransition_arrow__06IDF {
  position: absolute;
  left: 20px;
  top: -8px;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
  background-color: #fff;
  box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.04);
}

.DropdownTransition_arrow-date-picker__5ikuW {
  position: absolute;
  right: 14px;
  bottom: -8px;
  z-index: -1;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
  background-color: #fff;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.04);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/styles/SearchFlightForm.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#SearchFlightForm_SSBPassenger__kCDCK {
  color: #74787d;
  cursor: pointer;
}
#SearchFlightForm_SSBPassenger__kCDCK:focus {
  caret-color: transparent;
}

#SearchFlightForm_SSBTravelClass__6cTOA {
  color: #74787d;
  cursor: pointer;
}
#SearchFlightForm_SSBTravelClass__6cTOA:focus {
  caret-color: transparent;
}

#SearchFlightForm_SSBPromoCode__JFn5A {
  color: #74787d;
}

#SearchFlightForm_SSBFlightSubmit__DXfPs {
  height: 100%;
  width: 100%;
  background-color: #006ab3;
  color: #fff;
  border-radius: 4px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
}
#SearchFlightForm_SSBFlightSubmit__DXfPs:hover {
  background-color: #0d4f7c;
}

.SearchFlightForm_col__PjxaW {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.SearchFlightForm_radio__G8tQk,
.SearchFlightForm_checkbox__AEb7c {
  position: relative;
  padding-left: 28px;
  color: #74787d;
  font-size: 14px;
  cursor: pointer;
}
.SearchFlightForm_radio__G8tQk input[type=radio],
.SearchFlightForm_radio__G8tQk input[type=checkbox],
.SearchFlightForm_checkbox__AEb7c input[type=radio],
.SearchFlightForm_checkbox__AEb7c input[type=checkbox] {
  display: none;
}
.SearchFlightForm_radio__G8tQk input[type=radio]:checked + .SearchFlightForm_radiomark__XljZy::before,
.SearchFlightForm_checkbox__AEb7c input[type=radio]:checked + .SearchFlightForm_radiomark__XljZy::before {
  border-color: #0064d2;
}
.SearchFlightForm_radio__G8tQk input[type=radio]:checked + .SearchFlightForm_radiomark__XljZy::after,
.SearchFlightForm_checkbox__AEb7c input[type=radio]:checked + .SearchFlightForm_radiomark__XljZy::after {
  transform: scale(1);
}
.SearchFlightForm_radio__G8tQk input[type=checkbox]:checked + .SearchFlightForm_checkmark__oZiLR::before,
.SearchFlightForm_checkbox__AEb7c input[type=checkbox]:checked + .SearchFlightForm_checkmark__oZiLR::before {
  border-color: #0064d2;
  background-color: #0064d2;
}
.SearchFlightForm_radio__G8tQk input[type=checkbox]:checked + .SearchFlightForm_checkmark__oZiLR svg,
.SearchFlightForm_checkbox__AEb7c input[type=checkbox]:checked + .SearchFlightForm_checkmark__oZiLR svg {
  transform: scale(1);
}
.SearchFlightForm_radio__G8tQk .SearchFlightForm_radiomark__XljZy,
.SearchFlightForm_radio__G8tQk .SearchFlightForm_checkmark__oZiLR,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_radiomark__XljZy,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_checkmark__oZiLR {
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.SearchFlightForm_radio__G8tQk .SearchFlightForm_radiomark__XljZy::before, .SearchFlightForm_radio__G8tQk .SearchFlightForm_radiomark__XljZy::after,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_radiomark__XljZy::before,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_radiomark__XljZy::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.SearchFlightForm_radio__G8tQk .SearchFlightForm_radiomark__XljZy::before,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_radiomark__XljZy::before {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-in-out;
}
.SearchFlightForm_radio__G8tQk .SearchFlightForm_radiomark__XljZy::after,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_radiomark__XljZy::after {
  width: 10px;
  height: 10px;
  background-color: #0064d2;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.SearchFlightForm_radio__G8tQk .SearchFlightForm_checkmark__oZiLR::before,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_checkmark__oZiLR::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.SearchFlightForm_radio__G8tQk .SearchFlightForm_checkmark__oZiLR svg,
.SearchFlightForm_checkbox__AEb7c .SearchFlightForm_checkmark__oZiLR svg {
  color: #fff;
  font-size: 15px;
  z-index: 1;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.SearchFlightForm_add-segment-wrapper__49VC_ {
  margin-bottom: 30px;
}
.SearchFlightForm_add-segment-wrapper__49VC_ > button {
  color: #74787d;
  font-size: 14px;
}
.SearchFlightForm_add-segment-wrapper__49VC_ > button:hover {
  background-color: transparent;
  color: rgb(0, 106, 179);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/styles/components/HomeSearchBox.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HomeSearchBox_container__6h_tH {
  max-width: 952px;
  width: 100%;
  margin: 0 auto;
}
